[Desktop Entry]
Name=WattRate
Name[ast]=WattRate
Name[bg]=WattRate
Name[ca]=WattRate
Name[ca@valencia]=WattRate
Name[cs]=WattRate
Name[da]=WattRate
Name[de]=WattRate
Name[el]=WattRate
Name[en_GB]=WattRate
Name[eo]=WattRate
Name[es]=WattRate
Name[et]=WattRate
Name[fi]=WattRate
Name[fr]=WattRate
Name[ga]=WattRate
Name[gl]=WattRate
Name[hu]=WattRate
Name[it]=WattRate
Name[ja]=WattRate
Name[kk]=WattRate
Name[km]=WattRate
Name[ko]=WattRate
Name[lv]=WattRate
Name[nb]=WattRate
Name[nds]=WattRate
Name[nl]=WattRate
Name[nn]=WattRate
Name[pa]=WattRate
Name[pl]=WattRate
Name[pt]=WattRate
Name[pt_BR]=WattRate
Name[ro]=WattRate
Name[ru]=WattRate
Name[sr]=WattRate
Name[sr@ijekavian]=WattRate
Name[sr@ijekavianlatin]=WattRate
Name[sr@latin]=WattRate
Name[sv]=WattRate
Name[tr]=WattRate
Name[uk]=WattRate
Name[x-test]=xxWattRatexx
Name[zh_CN]=WattRate
Name[zh_TW]=WattRate
Comment=WattRate show system's energy rate
Comment[ast]=WattRate show system's energy rate
Comment[ca]=WattRate show system's energy rate
Comment[ca@valencia]=WattRate show system's energy rate
Comment[cs]=WattRate show system's energy rate
Comment[da]=WattRate show system's energy rate
Comment[de]=WattRate show system's energy rate
Comment[el]=WattRate show system's energy rate
Comment[en_GB]=WattRate show system's energy rate
Comment[eo]=WattRate show system's energy rate
Comment[es]=WattRate show system's energy rate
Comment[et]=WattRate show system's energy rate
Comment[fi]=WattRate show system's energy rate
Comment[fr]=WattRate show system's energy rate
Comment[ga]=WattRate show system's energy rate
Comment[gl]=WattRate show system's energy rate
Comment[hu]=WattRate show system's energy rate
Comment[it]=WattRate show system's energy rate
Comment[ja]=WattRate show system's energy rate
Comment[kk]=WattRate show system's energy rate
Comment[km]=ប្លាស្មា WattRate
Comment[ko]=WattRate show system's energy rate
Comment[lv]=WattRate show system's energy rate
Comment[nb]=WattRate show system's energy rate
Comment[nds]=WattRate show system's energy rate
Comment[nl]=WattRate show system's energy rate
Comment[nn]=WattRate show system's energy rate
Comment[pa]=ਪਲਾਜ਼ਮਾ WattRate
Comment[pl]=Plazma WattRate
Comment[pt]=WattRate show system's energy rate
Comment[pt_BR]=WattRate show system's energy rate
Comment[ro]=WattRate show system's energy rate
Comment[ru]=WattRate show system's energy rate
Comment[sr]=Плазмин WattRate
Comment[sr@ijekavian]=Плазмин WattRate
Comment[sr@ijekavianlatin]=Plasmin WattRate
Comment[sr@latin]=Plasmin WattRate
Comment[sv]=WattRate show system's energy rate
Comment[tr]=WattRate show system's energy rate
Comment[uk]=Плазма WattRate
Comment[x-test]=xxWattRate show system's energy ratexx
Comment[zh_CN]=WattRate show system's energy rate
Comment[zh_TW]=WattRate show system's energy rate
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_wattrate
X-KDE-PluginInfo-Author=Nicola Parisi
X-KDE-PluginInfo-Email=nparisi89@gmail.com
X-KDE-PluginInfo-Name=wattrate
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

