[Desktop Entry]
Name=BatteryConsumption
Name[ast]=BatteryConsumption
Name[bg]=BatteryConsumption
Name[ca]=BatteryConsumption
Name[ca@valencia]=BatteryConsumption
Name[cs]=BatteryConsumption
Name[da]=BatteryConsumption
Name[de]=BatteryConsumption
Name[el]=BatteryConsumption
Name[en_GB]=BatteryConsumption
Name[eo]=BatteryConsumption
Name[es]=BatteryConsumption
Name[et]=BatteryConsumption
Name[fi]=BatteryConsumption
Name[fr]=BatteryConsumption
Name[ga]=BatteryConsumption
Name[gl]=BatteryConsumption
Name[hu]=BatteryConsumption
Name[it]=BatteryConsumption
Name[ja]=BatteryConsumption
Name[kk]=BatteryConsumption
Name[km]=BatteryConsumption
Name[ko]=BatteryConsumption
Name[lv]=BatteryConsumption
Name[nb]=BatteryConsumption
Name[nds]=BatteryConsumption
Name[nl]=BatteryConsumption
Name[nn]=BatteryConsumption
Name[pa]=BatteryConsumption
Name[pl]=BatteryConsumption
Name[pt]=BatteryConsumption
Name[pt_BR]=BatteryConsumption
Name[ro]=BatteryConsumption
Name[ru]=BatteryConsumption
Name[sr]=BatteryConsumption
Name[sr@ijekavian]=BatteryConsumption
Name[sr@ijekavianlatin]=BatteryConsumption
Name[sr@latin]=BatteryConsumption
Name[sv]=BatteryConsumption
Name[tr]=BatteryConsumption
Name[uk]=BatteryConsumption
Name[x-test]=xxBatteryConsumptionxx
Name[zh_CN]=BatteryConsumption
Name[zh_TW]=BatteryConsumption
Comment=BatteryConsumption show system's energy rate
Comment[ast]=BatteryConsumption show system's energy rate
Comment[ca]=BatteryConsumption show system's energy rate
Comment[ca@valencia]=BatteryConsumption show system's energy rate
Comment[cs]=BatteryConsumption show system's energy rate
Comment[da]=BatteryConsumption show system's energy rate
Comment[de]=BatteryConsumption show system's energy rate
Comment[el]=BatteryConsumption show system's energy rate
Comment[en_GB]=BatteryConsumption show system's energy rate
Comment[eo]=BatteryConsumption show system's energy rate
Comment[es]=BatteryConsumption show system's energy rate
Comment[et]=BatteryConsumption show system's energy rate
Comment[fi]=BatteryConsumption show system's energy rate
Comment[fr]=BatteryConsumption show system's energy rate
Comment[ga]=BatteryConsumption show system's energy rate
Comment[gl]=BatteryConsumption show system's energy rate
Comment[hu]=BatteryConsumption show system's energy rate
Comment[it]=BatteryConsumption show system's energy rate
Comment[ja]=BatteryConsumption show system's energy rate
Comment[kk]=BatteryConsumption show system's energy rate
Comment[km]=ប្លាស្មា BatteryConsumption
Comment[ko]=BatteryConsumption show system's energy rate
Comment[lv]=BatteryConsumption show system's energy rate
Comment[nb]=BatteryConsumption show system's energy rate
Comment[nds]=BatteryConsumption show system's energy rate
Comment[nl]=BatteryConsumption show system's energy rate
Comment[nn]=BatteryConsumption show system's energy rate
Comment[pa]=ਪਲਾਜ਼ਮਾ BatteryConsumption
Comment[pl]=Plazma BatteryConsumption
Comment[pt]=BatteryConsumption show system's energy rate
Comment[pt_BR]=BatteryConsumption show system's energy rate
Comment[ro]=BatteryConsumption show system's energy rate
Comment[ru]=BatteryConsumption show system's energy rate
Comment[sr]=Плазмин BatteryConsumption
Comment[sr@ijekavian]=Плазмин BatteryConsumption
Comment[sr@ijekavianlatin]=Plasmin BatteryConsumption
Comment[sr@latin]=Plasmin BatteryConsumption
Comment[sv]=BatteryConsumption show system's energy rate
Comment[tr]=BatteryConsumption show system's energy rate
Comment[uk]=Плазма BatteryConsumption
Comment[x-test]=xxBatteryConsumption show system's energy ratexx
Comment[zh_CN]=BatteryConsumption show system's energy rate
Comment[zh_TW]=BatteryConsumption show system's energy rate
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_batteryconsumption
X-KDE-PluginInfo-Author=Alejandro Vera
X-KDE-PluginInfo-Email=alevera@fvv.cl
X-KDE-PluginInfo-Name=batteryconsumption
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

